@model Pergunta
@{
    Layout = "_LayoutB";
}
<form action="/home/create" method="post" class="container">
    <div class="row">
        <div class="col-12">
            @Html.LabelFor(x => x.Descricao)<br />
            @Html.EditorFor(a => a.Descricao, "", new { @class = "form-control" })
            <br/>
            @Html.ValidationMessageFor(a => a.Descricao, null, new { @class = "label text-danger" })
        </div>
        <div class="col-12">
            @Html.LabelFor(x => x.Autor)<br />
            @Html.EditorFor(x => x.Autor)
            <br />
            @Html.ValidationMessageFor(a => a.Autor, null, new { @class = "label text-danger" })
        </div>
    </div>
                                <div class="row mt-2">
                                    <div class="offset-2 col-12">
                                        <input type="submit" value="Salvar" class="btn btn-info" />
                                    </div>
                                </div>
    <br />
    <br />
    <br />
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>

</form>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"></script>