@model IEnumerable<Fiap01.Models.Pergunta>

@{ 
    Layout = "_LayoutB";
}

<div class="row">
    @foreach (var item in Model)
    {
    <div class="offset-2 col-8">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Autor</td>
                    <td>Descricao</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Autor</td>
                    <td>@item.Descricao</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger">Remover</button>
                        <button type="button" class="btn btn-outline-info">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>

<div class="alert alert-info">
    @await Component.InvokeAsync("Noticias", new { total = 3, noticiasUrgentes = false })        
</div>

<div class="alert alert-info">
    <vc:noticias total="10" , noticias-urgentes="false"></vc:noticias>
</div>

<email mail-to="igor"></email> 

@*<h1>@ViewBag.Nome</h1>
<h1>@ViewData["NomeDoAluno"]</h1>
<p> Twitter @@igor </p>

<p>@Model.Id</p>
<p>@Model.Descricao</p>
<p>@Model.Autor</p>*@